.contact-section {
  padding: 10px;
  padding-left: 15px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 5px;
}

.contact-section div {
  margin-right: 10px;
  border-radius: 5px;
}

.name {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.role {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.phone {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.email {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.linkedin {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.github {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
}

@media screen and (max-width: 900px) {
  .form .contact-section {
    display: flex;
    flex-direction: column;
  }
}
