.dates {
  display: flex;
  gap: 5px;
  padding-left: 5px;
}

.experience {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
}

.experience-details {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
}

.experience-title-company-location {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  width: max-content;
}

.experience-title input {
  width: 200px;
}

.experience-responsibilities {
  padding: 5px;
  width: 60%;
}
