.summary-section {
  padding: 10px;
  border-radius: 10px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  /* height: 600px; */
}

.summary-section div {
  border-radius: 5px;
}

.summary {
  padding: 15px;
}
