#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100vw;
  background-color: whitesmoke;
  /* display: flex; */
  /* justify-content: space-around; */
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.form {
  /* border: 1px solid; */
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 5px 1px rgba(100, 100, 100, 0.5);
  display: flex;
  flex-direction: column;
  width: 60%;
}

div.linebreak {
  border-bottom: 0.5px solid rgba(137, 137, 137, 0.7);
  margin-top: 10px;
  margin-bottom: 10px;
}

.summary-section p,
.experience-section p,
.education-section p,
.skill-section p,
.language-section p {
  font-weight: 500;
  text-align: start;
  padding: 5px;
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}

.experience {
  outline: 0.5px solid transparent;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.experience,
.education,
.skill,
.language {
  position: relative;
}

.experience:hover {
  outline: 0.5px solid rgba(137, 137, 137, 0.4);
}

.remove-experience,
.remove-education,
.remove-language {
  position: absolute;
  right: 5px;
  top: 10px;
  height: 30px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90px;
}

.remove-skill {
  position: absolute;
  top: 13px;
  left: 0px;
  height: 10px;
  width: 10px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  z-index: 1;
}

.remove-language {
  position: absolute;
  top: 13px;
  left: 0px;
  height: 10px;
  width: 10px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  z-index: 1;
}

.experience-section:not(:hover) .remove-experience,
.experience-section:not(:hover) .add-experience {
  opacity: 0;
  transition: opacity 0.3s;
}

.experience-section:hover .remove-experience,
.experience-section:hover .add-experience {
  opacity: 1;
  transition: opacity 0.3s;
}

.education-section:not(:hover) .remove-education,
.education-section:not(:hover) .add-education {
  opacity: 0;
  transition: opacity 0.3s;
}

.education-section:hover .remove-education,
.education-section:hover .add-education {
  opacity: 1;
  transition: opacity 0.3s;
}

.skill-section:not(:hover) .remove-skill,
.skill-section:not(:hover) .add-skill {
  opacity: 0;
  transition: opacity 0.3s;
}

.skill-section:hover .remove-skill,
.skill-section:hover .add-skill {
  opacity: 1;
  transition: opacity 0.3s;
}

.language-section:not(:hover) .remove-language,
.language-section:not(:hover) .add-language {
  opacity: 0;
  transition: opacity 0.3s;
}

.language-section:hover .remove-language,
.language-section:hover .add-language {
  opacity: 1;
  transition: opacity 0.3s;
}

.form .experience .remove-experience:focus,
.form .education .remove-education:focus,
.form .skill .remove-skill:focus,
.form .language .remove-language:focus,
.form .experience-section .add-experience:focus,
.form .education-section .add-education:focus,
.form .skill-section .add-skill:focus,
.form .language-section .add-language:focus {
  opacity: 1;
  transition: opacity 0.3s;
}
